<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Hello sandesh</h1>

<form action="/register" method="post">
<lable>User Name:</lable>
<input type="text" name="username" />
<br><br>
<lable>Email ID:</lable>
<input type="email" name="email" />
<br><br>
<lable>Password</lable>
<input type="password" name="password" />
<br><br>
<label>Gender:</label>
M<input type="radio" name="gender" value="Male"/>
F<input type="radio" name="gender" value="Female"/>
O<input type="radio" name="gender" value="others"/>
<br><br>
<label>Role:</label>
Admin<input type="radio" name="gender" value="admin"/>
User<input type="radio" name="gender" value="user"/>
<br><br>
<label>Address:</label>
<textarea name="address"></textarea>
<br><br>
<input type="submit" value="register">
</form>


</body>
</html>